*.js
!jest.config.js
!upload_catch.js
!register_catch.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
.env

dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?