# backend/.env.example
# cp backend/.env.example backend/.env のうえで、各値を実際の値に置き換えてください

AWS_REGION=ap-northeast-1
FISHING_LOG_TABLE_NAME=YourFishingLogTable
MY_POINTS_TABLE_NAME=YourMyPointsTable
FISHING_LOG_PHOTO_BUCKET_NAME=YourFishingLogPhotoBucket
WEATHER_API_KEY=your_api_key_here
